body {
    margin-top:2%;
    background-color:white
}
*{
    font-family: '-apple-system', 'Segoe UI';

}
.container{
    padding-bottom:10%;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows: 420px;
    grid-gap:20px;

}
li{
    list-style: none;
}
#leaf_image{
    color:#BDD387;
    font-size:50px;
  }
.menu_cell {
    list-style: none;  
    position: relative;  
    background: white;
    border-radius: 0.5rem;
    box-shadow: inset 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15);
    height:50px;
    font-size: 25px;
    user-select: none;
}
.menu_cell:hover {
    background-color: #eee;  
}
#topmenu{
    color:black;
    font-size:180%;
}
.row{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 100%;
    grid-gap:20px;


}
.col-md-5{
    font-size:120%;
    margin:0 auto;
    width:50%;
    border:1px solid black;
    height:100%;
}

.col-md-5 p{
    margin-left:1%;
}
.col-md-5 div{
    display:inline-block;
}
.col-md-5 div i{
    display:relative;
}
.popup {
    display: none;
    position: relative;
    width: 90%;
    padding: 1%;
    margin-left:10%;
    left: 4%;
    bottom:1px;
    border-radius: 8px;
    background: #333;
    color: #fff;
    font-size: 100%;
    z-index:10000;
    float:left;
  }
  
  .col-md-5 div i:hover + .popup {
    display: block;
  }
  