body{
    font-family: Consolas, sans-serif;
}

textarea{
    resize: none;
    width: calc(100% - 10px);
}


table{
    margin: 0 auto;
    border-collapse: collapse;
}


category{
    width:calc(8%);
    margin-right: calc(3%);
}