
html,body {
    background-color:white;
    /*#EFFFE9*/
    font-family: 'Prompt', sans-serif;
    margin-top: 2%;
}
#leaf_image{
  color:#BDD387;
  font-size:50px;
}

.menu_cell {
    list-style: none;  
    position: relative;  
    background: white;
    border-radius: 0.5rem;
    box-shadow: inset 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.15); 
    height:50px;
    font-size: 25px
}
.menu_cell:hover {
    background-color: #eee;  
}
/* #fb {
    width: 148px;  
    height: 50px;  
    display: block;  
    text-decoration: none;  
    text-align: center;  
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    padding-top: 10%;
    list-style: none;  
    position: relative;  
    background: white;
    border-radius: 0.5rem;
    text-transform: uppercase;
    color: gray
    
} */


#filtermenu, ul, li, li li {  
    margin: 0;  
    padding: 0;  
}  
   
#filtermenu {  
    width: 150px;  
    height: 27px;  
    margin-left: 15%;
    
}  
   
#filtermenu ul  
{  
     line-height:150%; 

}  
   
    #filtermenu li {  
        list-style: none;  
        position: relative;  
        background: white;
        border-radius: 0.5rem;
        text-transform: uppercase;
        box-shadow: inset 0.1rem 0.1rem 0.3rem  rgba(0, 0, 0, 0.15);  
    }  
   
        #filtermenu li li {  
            list-style: none;  
            position: relative;  
            background: white;  
            border-radius: 0.5rem;
            box-shadow: inset 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.15);  
            left: 148px;  
            top: -27px;  
        }  
   
   
    #filtermenu ul li a {  
        width: 148px;  
        height: 50px;  
        display: block;  
        text-decoration: none;  
        text-align: center;  
        font-size: 130%;
        font-family: 'Roboto', sans-serif;
        padding-top: 10%;
        color: gray
          
    }  
   
    #filtermenu ul ul {  
        position: absolute;  
        visibility: hidden;  
        top: 27px;  
    }  
   
    #filtermenu ul li:hover ul {  
        visibility: visible;  
    }  
   
    #filtermenu li:hover {  
        background-color: #FFEEE4;  
    }  
   
    #filtermenu ul li:hover ul li a:hover {  
        background-color: #FFEEE4; 
        border-radius: 0.5rem;
            box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);   
    }  
   
    #filtermenu a:hover {  
        font-weight: bold;  
    } 
td {
    width: 200px;
    height: 70px;
    margin: 0 auto;
}

.filter_block {
    background-color: white; 
    border-radius: 0.5rem;
    box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15); 
    width: 170px;
    height: 40px; 
    padding-top:10px;
    font-size: 25px;
    
}
.filter_block:hover {
  background-color: #eee;
  cursor: url(../images/trash-alt-regular.svg), auto;
}

#teaname {
    width: 50%;
    height:50%;
    font-size:90%;
}
.filterBox {
    width: 80%;
    height: 150px;
    box-shadow: 2px 2px 5px #000808;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    background: #f9fff9;
    border-radius: 0.5rem;

}
.center {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}
.wrapper_main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 180px;
    
  }
.wrapper_image_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 450px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    
    
}
.grid {
    
}
.image {
    width: 80%;
    height: 270px;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow:  0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.15);  

}
.caption_center {
  position: relative;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 20px;
}

.grid:hover .caption_center{

  visibility: visible;
}
.grid:hover .image{
  opacity: 0.2;
}

.caption_info {
  position: relative;
  bottom: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f9fff9;
  visibility: hidden;
  font-size: 20px;
}
 .grid:hover .caption_info{

  visibility: visible;
}






/*Button*/

  
  .buttonwrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  #btn_reset {
    width: 100px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f9fff9;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
    #btn_reset:hover {
    background-color: rgb(79, 153, 236);
    box-shadow: 0px 15px 20px rgba(84, 204, 241, 0.356);
    color: #fff;
    transform: translateY(-7px);
  }

  #btn_all {
    width: 50px;
    height: 45px;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #f9fff9;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  #btn_all:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

  /*Input form*/
  .form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 90%;
    margin: 0 auto;
  }
  
  .form__field {
    font-family: inherit;
    width: 65%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: Black;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    
  }
  .form__field::placeholder {
    color: transparent;
  }
  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    left: 9%;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
  }
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }
  
/*Filter button*/
.centered {
	position: absolute;
  margin-top: 2%;
  margin-left: 2%;
	margin-right: 0%;
    transform: translate(-10%, -50%);
    font-size: 30px;
    background: white;
    
    box-shadow:2px 2px 10px black inset
}

.bg {
	position: absolute;
	top: 0;
	width: 0;
	z-index: -1;
	height: 100%;
	background: #fff;
	padding-bottom: 5px;
	box-shadow: 10px 10px 0 0 #E06969;
	transition: width 0.3s ease;
}

input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

input[type="checkbox"] + label {
	padding-left: 30px;
	text-shadow: 1px 1px 0 #E06969;
	transition: color 0.3s ease;
}

input[type="checkbox"]:checked + label {
	color: #E06969;
}

input[type="checkbox"]:checked ~ .bg {
	width: 100%;
}

input[type="checkbox"]:checked ~ .bg:hover {
	box-shadow: 3px 3px 0 0 green;
}

input[type="checkbox"] + label .qmark {
	opacity: 1;
	transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked + label .qmark {
	opacity: 0;
}

input[type="checkbox"] + label .fstop {
	opacity: 0;
	position: relative;
	left: -20px;
    transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked + label .fstop {
	opacity: 1;
	color: #E06969;
}




@keyframes ldio-r4fy2itdi8q {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-r4fy2itdi8q div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-r4fy2itdi8q linear 1s infinite;
  background: #3be8b0;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-r4fy2itdi8q div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #3be8b0;
}.ldio-r4fy2itdi8q div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #3be8b0;
}
.loadingio-spinner-spinner-ym03njjekeg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-r4fy2itdi8q {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-r4fy2itdi8q div { box-sizing: content-box; }
/* generated by https://loading.io/ */

