

/*
.container{
    width:90%;
    margin: 0 auto;
    text-align:center;
}

ul.tabs{
    margin:0px;
    padding:0px;
    list-style: none;
}
*/

ul.tabs li{
    color:black;
    display:inline-block;
    padding:10px 15px;
    cursor: pointer;
    background: #ededed ;
}

ul.tabs li.current{
    color:yellowgreen;
    background-color: white ;
}

.tab-content{
    display: none;
    background:none;
    padding :15px;
}
.tab-content.current {
    display: block;
}

